<%- include('../../partials/_head.ejs') %>
<body>
    <%- include('../../partials/_navbar.ejs') %>
    <div class="container mt-5">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">ID Kategori</th>
                    <th scope="col">Nama Kategori</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><%= id %></th>
                    <td><%= nama_kategori %></td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success" id="approveButton">Approve</button>
                        <button type="button" class="btn btn-sm btn-danger" id="rejectButton">Reject</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/kategori/admin" class="btn btn-sm btn-success">Home</a>
    </div>
    <%- include('../../partials/_foot.ejs') %>
