<%- include('../../partials/_head.ejs') %>
<body>
  <%- include('../../partials/_navbar.ejs') %>
  <div class="container">
    <% if (messages.success) { %>
    <div class="alert alert-info" role="alert"><%- messages.success %></div>
    <% } %>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nama Kategori</th>
              <th colspan="2" scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < data.length; i++){ %>
            <tr>
              <th scope="row"><%= (i+1) %></th>
              <td><%= data[i].nama_kategori %></td>
              <td>
                <a
                  href="/kategori/admin/detail/<%= data[i].id_kategori %>"
                  class="btn btn-sm btn-warning"
                  >Detail</a
                >
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<%- include('../../partials/_foot.ejs') %>
