<%- include('../../partials/_head.ejs') %>
<body>
  <%- include('../../partials/_navbar.ejs') %>
  <br>
  <div class="container">
    <% if (messages.success) { %>
      <div class="alert alert-info" role="alert">
        <%- messages.success %>
      </div>
    <% } %>
    <div class="row">
      <div class="col">
        <div class="table-container">
          <table class="table table-striped table-hover">
            <thead class="sticky-header">
              <tr>
                <th scope="col" class="th-no">No</th>
                <th scope="col" class="th-incident">Incident</th>
                <th scope="col" class="th-customer">Customer</th>
                <th scope="col" class="th-layanan">Layanan</th>
                <th scope="col" class="th-kategori">Kategori</th>
                <th scope="col" class="th-regional">Regional</th>
                <th scope="col" class="th-witel">Witel</th>
                <th scope="col" class="th-jenis-permintaan">
                  Jenis Permintaan
                </th>
                <th scope="col" class="th-reason">Reason</th>
                <th scope="col" class="th-ttr-e2e-awal">TTR E2E Awal</th>
                <th scope="col" class="th-ttr-after-reduksi">
                  TTR After Reduksi
                </th>
                <th scope="col" class="th-eviden-regional">Eviden</th>
                <th scope="col" class="th-catatan-sda">Catatan SDA</th>
                <th scope="col" class="th-validasi-sda">Validasi SDA</th>
                <th scope="col" class="th-approved-not-ppq">
                  Approved Not PPQ
                </th>
                <th scope="col" class="th-rep-rec">Rep/Rec</th>
                <th scope="col" class="th-change-to">Change To</th>
                <th colspan="2" scope="col" class="th-aksi">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((item, index) => { %>
                <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= item.incident %></td>
                <td><%= item.customer %></td>
                <td><%= item.layanan %></td>
                <td><%= item.kategori %></td>
                <td><%= item.regional %></td>
                <td><%= item.witel %></td>
                <td><%= item.jenis_permintaan %></td>
                <td><%= item.reason %></td>
                <td><%= item.ttr_e2e_awal %></td>
                <td><%= item.ttr_after_reduksi %></td>
                <td>
                  <% if (item.eviden) { %>
                    <% let files = item.eviden.split(','); %>
                    <% files.forEach(function(file) { %>
                      <img src="/images/upload/<%= encodeURIComponent(file) %>" alt="Eviden Regional" style="width: 200px; height: auto;" />
                    <% }); %>
                  <% } else { %>
                    <p>No image available</p>
                  <% } %>
                </td>                                                                                   
                <td><%= item.catatan_sda %></td>
                <td><%= item.validasi_sda %></td>
                <td><%= item.approved_not_ppq %></td>
                <td><%= item.rep_rec %></td>
                <td><%= item.change_to %></td>
                  <td>
                    <% if (item.level_acc === 'waiting' || !item.level_acc) { %>
                      <button onclick="updateLevelAcc('<%= item.id_rekon %>', 'approve')" class="btn btn-sm btn-success"><i class="fas fa-check"></i></button>
                    <% } else if (item.level_acc === 'approve') { %>
                      <button class="btn btn-sm btn-success" disabled><i class="fas fa-check"></i></button>
                    <% } %>
                  </td>
                  <td>
                    <% if (item.level_acc === 'waiting' || !item.level_acc) { %>
                      <button onclick="updateLevelAcc('<%= item.id_rekon %>', 'reject')" class="btn btn-sm btn-danger"><i class="fas fa-times"></i> </button>
                    <% } else if (item.level_acc === 'reject') { %>
                      <button class="btn btn-sm btn-danger" disabled><i class="fas fa-times"></i></button>
                    <% } %>
                  </td>                                                     
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%- include('../../partials/_foot.ejs') %>

  <script>
    async function updateLevelAcc(id, levelAcc) {
    try {
        const response = await fetch(`/rekon/admin/detail/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ level_acc: levelAcc })
        });

        const result = await response.json();
        if (response.ok) {
            alert(result.message);

            // Menggunakan `window.location.reload()` untuk memuat ulang halaman dan menampilkan item terbaru
            window.location.reload(); // Ini untuk memastikan kondisi yang terbaru muncul setelah update
        } else {
            alert(result.error);
        }
    } catch (err) {
        console.error("Error updating level_acc:", err);
        alert("Failed to update level_acc. Please try again.");
    }
}

    </script>
</body>
