<%- include('../partials/_head.ejs') %>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="content">
        <div class="container">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Selamat Datang</h1>
            </div>
            <div class="row">
                <div class="col">
                    <p>Data terakhir diperbarui: <%= lastUpdated ? new Date(lastUpdated).toLocaleString() : 'Belum diperbarui' %></p>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 100px; word-wrap: break-word; white-space: normal;">Layanan</th>
                            <% Object.keys(witelCounts).forEach((witel) => { %>
                                <th scope="col" style="width: 100px; word-wrap: break-word; white-space: normal;"><%= witel %></th>
                            <% }); %>
                        </tr>
                    </thead>
                    <tbody>
                        <% ['ASTINET', 'VPNIP', 'WIFI', 'INTERNET', 'VOICE', 'IPTV'].forEach((layanan) => { %>
                        <tr>
                            <td><strong><%= layanan %></strong></td>
                            <% Object.keys(witelCounts).forEach((witel) => { %>
                                <td><%= layananCounts[witel][layanan] || 0 %></td> <!-- Tampilkan 0 jika tidak ada data -->
                            <% }); %>
                        </tr>
                        <% }); %>
                        <tr>
                            <td><strong>Jumlah</strong></td>
                            <% Object.keys(witelCounts).forEach((witel) => { %>
                                <td><%= Object.values(layananCounts[witel]).reduce((acc, count) => acc + count, 0) || 0 %></td> <!-- Jumlah total untuk setiap witel -->
                            <% }); %>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('../partials/_foot.ejs') %>
</body>
