<%- include('../partials/_head.ejs') %>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="content">
        <div class="container">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Selamat Datang</h1>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Hello : <%= username %></h1>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 75px; word-wrap: break-word; white-space: normal;">Status</th>
                            <% Object.keys(witelCounts).forEach((witel) => { %>
                                <th scope="col" style="width: 100px; word-wrap: break-word; white-space: normal;"><%= witel %></th>
                            <% }); %>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Jumlah</strong></td>
                            <% Object.keys(witelCounts).forEach((witel) => { %>
                                <td><%= witelCounts[witel] %></td>
                            <% }); %>
                        </tr>
                        <tr>
                            <td style="color: green;"><strong>Approve</strong></td>
                            <% Object.keys(witelCounts).forEach((witel) => { %>
                                <td style="color: green;"><%= statusCounts[witel].approve %></td>
                            <% }); %>
                        </tr>
                        <tr>
                            <td style="color: red;"><strong>Reject</strong></td>
                            <% Object.keys(witelCounts).forEach((witel) => { %>
                                <td style="color: red;"><%= statusCounts[witel].reject %></td>
                            <% }); %>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('../partials/_foot.ejs') %>
</body>
