<%- include('../../partials/_head.ejs') %>
    <body>
        <%- include('../../partials/_navbar.ejs') %>
        <form action="/kategori/update/<%= id %>" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Kategori</label>
                <input type="text" id="inputPassword5" class="form-control" name="nama_kategori" value="<%= nama_kategori %>" required>
                <div class="mb-3">
                    <div>
                        <button id="submit" class="btn btn-sm btn-success">Edit</button>
                    </div>
                </div>
            </div>
        </form>
        <%- include('../../partials/_foot.ejs') %>