<%- include('../../partials/_head.ejs') %>
<body>
  <%- include('../../partials/_navbar.ejs') %>
  <div class="container">
    <% if (messages.success) { %>
      <div class="alert alert-info" role="alert">
        <%- messages.success %>
      </div>
    <% } %>
    <h1>Data Rekon</h1>
    <div class="text-end">
      <a href="/rekon/superadmin/create" class="btn btn-sm btn-success mb-3"><i class="fas fa-plus"></i> Tambah</a>
  </div>
    <div class="row">
      <div class="col">
        <div class="table-container">
          <table class="table table-striped table-hover">
            <thead class="thead-dark sticky-header">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Incident</th>
                <th scope="col">Customer</th>
                <th scope="col">Layanan</th>
                <th scope="col">Kategori</th>
                <th scope="col">Regional</th>
                <th scope="col">Witel</th>
                <th scope="col">Jenis Permintaan</th>
                <th scope="col">Reason</th>
                <th scope="col">TTR E2E Awal</th>
                <th scope="col">TTR After Reduksi</th>
                <th scope="col">Eviden Regional</th>
                <th scope="col">Catatan SDA</th>
                <th scope="col">Validasi SDA</th>
                <th scope="col">Approved Not PPQ</th>
                <th scope="col">Rep/Rec</th>
                <th scope="col">Change To</th>
                <th scope="col">Status</th>
                <th colspan="2" scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((item, index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= item.incident %></td>
                  <td><%= item.customer %></td>
                  <td><%= item.layanan %></td>
                  <td><%= item.kategori %></td>
                  <td><%= item.regional %></td>
                  <td><%= item.witel %></td>
                  <td><%= item.jenis_permintaan %></td>
                  <td><%= item.reason %></td>
                  <td><%= item.ttr_e2e_awal %></td>
                  <td><%= item.ttr_after_reduksi %></td>
                  <td><%= item.eviden_regional %></td>
                  <td><%= item.catatan_sda %></td>
                  <td><%= item.validasi_sda %></td>
                  <td><%= item.approved_not_ppq %></td>
                  <td><%= item.rep_rec %></td>
                  <td><%= item.change_to %></td>
                  <td><%= item.level_acc %></td>
                  <td>
                    <a href="/rekon/superadmin/edit/<%= item.id_rekon %>" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</a>
                    <a href="/rekon/delete/<%= item.id_rekon %>" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%- include('../../partials/_foot.ejs') %>

  <!-- Inline CSS -->
  <style>
    .table-container {
      max-height: 350px;
      overflow: auto; /* Allows scrolling but hides scrollbar */
    }

    .table-container::-webkit-scrollbar {
      display: none; /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
    }

    .sticky-header th {
      position: -webkit-sticky; /* For Safari */
      position: sticky;
      top: 0;
      background-color: #343a40; /* Same color as thead-dark */
      color: white;
      z-index: 10; /* Ensures the header is above other content */
    }
  </style>
</body>
